body {
    margin: 0;
    padding: 0;
}
.main {
    max-width: 1140px;
    max-height: 600px;
    background-color: #fdde7e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
      
    
}
.container {
    width: 360px;
    height: 440px;
    color: #fff;
    border-radius: 2px;       
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    margin: 30px;
    background-color: #fff;
    box-shadow: 5px 5px 15px #9C9C9C;
    display: flex;
    flex-direction: column;
    
    
}
.gold {
    margin: 30px 0;
    height: 500px;
    padding:  50px 0;
    box-sizing: border-box;
    
    
}
span {
    font-family: "Miso";
    color: #02995b;
    font-size: 70px;
    font-weight: bold;
}
p {
    color: #000;
    font-size: 20px;
    font-family: "Miso";
    
}
.name {
    font-size: 54px;
    color: #000;
    font-family: "Miso";
    font-weight: lighter;
}
img {
    width: 135px;
    height: 135px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 30px;
}
.bronze, .silver {
    padding: 20px 0;
    box-sizing: border-box;
}
