$baseFontSize: 16px;
$titleFontSize: 36px;


$baseColor: #fff;
$secondColor:#000;
$activeColor: #f6ae48;

$baseFont: 'gothambold1',
sans-serif;
$subFont: 'GothamBook',
sans-serif;
$helpFont: 'gothamMedium',
sans-serif;